In [3]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [4]:
data = pd.read_csv('/kaggle/input/animal-shelter-analytics/Austin_Animal_Center_Outcomes.csv')
data.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,08/16/2020 11:38:00 AM,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [5]:
print("Data type : ", type(data))
print("Data dims : ", data.shape)

Data type :  <class 'pandas.core.frame.DataFrame'>
Data dims :  (124491, 12)

In [6]:
print(data.dtypes)

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124491 entries, 0 to 124490
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124491 non-null  object
 1   Name              85466 non-null   object
 2   DateTime          124491 non-null  object
 3   MonthYear         124491 non-null  object
 4   Date of Birth     124491 non-null  object
 5   Outcome Type      124471 non-null  object
 6   Outcome Subtype   57308 non-null   object
 7   Animal Type       124491 non-null  object
 8   Sex upon Outcome  124490 non-null  object
 9   Age upon Outcome  124486 non-null  object
 10  Breed             124491 non-null  object
 11  Color             124491 non-null  object
dtypes: object(12)
memory usage: 11.4+ MB

In [8]:
data.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [9]:
data2 = data.copy()

In [10]:
data2.drop('Name', inplace=True, axis=1)

In [11]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124491 entries, 0 to 124490
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124491 non-null  object
 1   DateTime          124491 non-null  object
 2   MonthYear         124491 non-null  object
 3   Date of Birth     124491 non-null  object
 4   Outcome Type      124471 non-null  object
 5   Outcome Subtype   57308 non-null   object
 6   Animal Type       124491 non-null  object
 7   Sex upon Outcome  124490 non-null  object
 8   Age upon Outcome  124486 non-null  object
 9   Breed             124491 non-null  object
 10  Color             124491 non-null  object
dtypes: object(11)
memory usage: 10.4+ MB

In [12]:
data2.isnull().sum()

Animal ID               0
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type           20
Outcome Subtype     67183
Animal Type             0
Sex upon Outcome        1
Age upon Outcome        5
Breed                   0
Color                   0
dtype: int64

In [13]:
data2.drop('Outcome Subtype', inplace=True, axis=1)

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124491 entries, 0 to 124490
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124491 non-null  object
 1   DateTime          124491 non-null  object
 2   MonthYear         124491 non-null  object
 3   Date of Birth     124491 non-null  object
 4   Outcome Type      124471 non-null  object
 5   Animal Type       124491 non-null  object
 6   Sex upon Outcome  124490 non-null  object
 7   Age upon Outcome  124486 non-null  object
 8   Breed             124491 non-null  object
 9   Color             124491 non-null  object
dtypes: object(10)
memory usage: 9.5+ MB

In [15]:
data2['DateTime'] = pd.to_datetime(data2['DateTime'])

In [17]:
data2.drop_duplicates(inplace=True)

In [18]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124474 entries, 0 to 124490
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         124474 non-null  object
 1   DateTime          124474 non-null  datetime64[ns]
 2   MonthYear         124474 non-null  object
 3   Date of Birth     124474 non-null  object
 4   Outcome Type      124454 non-null  object
 5   Animal Type       124474 non-null  object
 6   Sex upon Outcome  124473 non-null  object
 7   Age upon Outcome  124469 non-null  object
 8   Breed             124474 non-null  object
 9   Color             124474 non-null  object
dtypes: datetime64[ns](1), object(9)
memory usage: 10.4+ MB

In [20]:
data2.rename(columns={'Animal Type': 'animal_type', 'Outcome Type': 'outcome_type', 'Sex upon Outcome': 'sex_upon_outcome'}, inplace=True)

In [21]:
data2 = data2.drop(['MonthYear','Date of Birth'], axis=1)

In [22]:
data2.head()

,Animal ID,DateTime,outcome_type,animal_type,sex_upon_outcome,Age upon Outcome,Breed,Color
0,A794011,2019-05-08 18:20:00,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,2018-07-18 16:02:00,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,2020-08-16 11:38:00,Euthanasia,Other,Unknown,1 year,Raccoon,Gray
3,A720371,2016-02-13 17:59:00,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,2014-03-18 11:47:00,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby